* {
    box-sizing: border-box;
}

#logo {
   a:hover{
    padding:none;
    color:transparent;
   }
}

/* Link status*/
header a:link{
    color: black;
    background-color: rgba(115, 19, 19, 0.9);
    
}

.active {
    background-color:#777;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    width: 100%;

}


#collapsibleNavbar {
    justify-content: right;

}

header li {
    padding: 25px;
    
}

header img {
    padding-top: 0;
}

main {
    width: auto;
    height: 800px;
    padding-top: 10px;
    margin-top: 80px;
}

.title-page {
    background-image: url("/BIT607-Haukai/images/background.jpg");
    max-width: 100%;
    
    background-size: cover;
    background-repeat: no-repeat;

}

.company-name {
    display: flex;
    height: 460px;
    width: 320px;
    justify-content: center;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;

    img {
        border: 7px solid #777;
        border-radius: 15px;
    }
}

.cta_button {
    display: flex;
    padding: 15px 30px 10px 30px;
    border-radius: 50px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: rgba(115, 19, 19, 0.9);
    color: whitesmoke;
    font-size: 2em;
}

footer {
    width: 100%;
    flex-wrap: wrap;
    background-color: rgb(90, 83, 53);
    padding: 5px 7px 5px 7px;
    color: whitesmoke;
    padding-top:7px;
    
}

.navbar {
    width: 100%;  
    justify-content: space-between;
    text-align: center;
}

#contact-details {
    list-style-type: none;
}



.food-beverage {
    margin-top: 80px;
    margin-bottom: 50px;
    overflow: scroll;
    background-image: url("/BIT607-Haukai/images/kawakawa_bw.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    h1 {
        background-color: #777;
    }
}

div.image{
    width: 15%;
    float: left;
}

div.item{
    width: 85%;
    overflow:auto;
}

div.amount{
    width:15%;
    float: right;
}

table {
    width: 100%;
    border-spacing: 20px;

    td {
        height: 50px;
    }
}

table img {
    border: #777 solid 1px;
}

.tab-content {
    max-width: 100%;
    
    margin-left: 1%;
    margin-right: 1%;

    h2 {
        color: rgb(97, 11, 11);
    }

}

#myTab {
    margin-top: 30px;
    background-color: #c5c4c4;
    font-size: x-large;
    a:link {
        color: rgb(97, 11, 11);
        }
    
    a:hover {
        background-color:#78a1ed;
    }

}

#beverages h3 {
    color: rgb(97, 11, 11);

}

ul#contact_details {
    list-style-type: none;

}

.reservations {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: rgb(90, 83, 53);
    margin-top: 80px;
}

.contact-page {
    background-image: url("/BIT607-Haukai/images/weaving.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 40px;
}


.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 90px;
    padding: 30px;
    background-color: #ebeff1;
    border: #777 solid 3px;
}

#contact-container {
    background-color: #7e7805;
 
}

.hours-page{
    background-color: rgba(105, 123, 130, 0.67);
    margin-bottom: 20px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 30px;
}

.hours {
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    padding: 10px;
    border:#777 solid 2px;
    border-radius: 5px;
}

.picture {
    margin-left: auto;
    margin-right: auto;
}

.google-form {
    margin-bottom: 200px;
    overflow: scroll;
    max-width: 650;
}
#google-map {
    max-width: 100%;
}





@media screen and (max-width:600px) {
    h1 {
        font-size: 1.2em;
    }

    h2 {
        font-size: 1.5em;
    }

    h3,
    h4,
    h5,
    h6 {
        font-size: 1em;
    }
}

@media (max-width: 600px) {
    .flex-container {
        flex-direction: column;
        flex-wrap: wrap;
    }
}

@media screen and (max-width:600px) {
    .column {
        width: 100%;
    }
}

@media only screen and (max-width:600px) {
    #copyright {
        display: none;
    }


    .reservations .company-name {
        display: none;
    }

    .reservations .picture {
        display: none;
    }

    .hours-page .company-name {
        display: none;
    }

    .contact-page .company-name {
        display: none;
    }

    .responsiveCal {
        position: relative;
        padding-bottom: 75%;
        height: 0;
        overflow: hidden;
    
    }

    .responsiveCal iframe {
        position: absolute; 
        top: 0; 
        left: 0; 
        width: 100%; 
        height: 100%;
    }

    

}