* {
    box-sizing: border-box;
}    
 
a:link, a:visited {
        color: whitesmoke;  
    }
    

a:hover, a:active {
        color: black;
        
        }
    

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
header { 
    width: 100%;
    padding: 5px;
    
    
}


#collapsibleNavbar {
    justify-content: right;
    
}

header li{
    padding: 25px;
}

main {
width: auto;
height: 800px;
padding-top: 10px;
margin-top: 80px;
}

.title-page{
    background-image: url("/images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}

.company-name {
    display: flex;
    height: 460px;
    width: 332;
    justify-content: center;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
    img{
        border: 7px solid #777;
        border-radius: 15px;
    }
}

.cta_button {
    display: flex;
    padding: 15px 30px 10px 30px;
    border-radius: 50px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: rgba(115, 19, 19, 0.9);
    color: whitesmoke;
    font-size: 2em;
}

footer {
    width: 100%;
    flex-wrap:wrap;
    background-color: #777;
    padding: 5px;
    color: whitesmoke;   
}

.navbar {  
    width: 100%;
    padding: 0px 0px 0px 0px;
    justify-content: space-between;
    text-align: center;  
}

#contact-details {
    list-style-type: none;
}



.food-beverage {
    
    margin-bottom: 30px;
    overflow:scroll;
    background-image: url("/images/kawakawa\ bw\ resized.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    h1{
        background-color: #777;
    }
}

table{ 
    width:100%;
    border-spacing:20px;
    td {
        height: 50px;
    }  
}
table img{
    border:#777 solid 1px;
}

.tab-content{
    max-width:100%;
    margin-left: 5%;
    margin-right: 5%;
    h2 {
            color: rgb(97, 11, 11)
    }
        
}
#myTab li a {
    border-color: blue;
    background-color: rgb(97, 11, 11);
    font-size: x-large;
}

#beverages h3 {
    color:rgb(97, 11, 11);
 
}

ul#contact_details {
    list-style-type:none;

}

.reservations {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: black ;
    margin-top: 70px;   
}

.contact-page{
    background-image: url("/images/weaving.jpg");
}

.contact-page {
    background-color: whitesmoke;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top:90px;
    padding: 30px;
    background-color: rgb(235, 239, 241);
    border: #777 solid 3px;
}

#contact-container{  
    background-color: rgb(126, 120, 5);

}
.picture{
    margin-left:auto;
    margin-right:auto;
}

.google-form {
    margin-bottom:200px;
    overflow:scroll;
}



/*.logo {
    display: flex;    
}



.company_name_minor {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    margin-left: 0%;
    border-radius: 5px;
}

.nav-item {
    padding-left: 50px;
}
h2,h3,h4,h5,h6 {
    
    color:whitesmoke
}

h6 {
    
    font-size: 1.5em;
}



.co_details {
    display:flex;
    margin-bottom: 0%;
    background-color: rgba(115, 19, 19, 0.7);
    color: whitesmoke;
}

#title_page a {
    text-decoration: none;
    color: whitesmoke;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left:18px;
    padding-right:18px;
    border-radius: 15px;
}



a {
    color:black;
}
*/
#google-map {
    max-width: 100%;
}

#google-form {
    max-width: fit-content;
}
 
 
@media screen and (max-width:600px) {
    h1 {
        font-size: 1.2em;
        }
    h2  {
        font-size: 1.5em;
    }
    h3,h4,h5,h6{
        font-size: 1em;
    }
    }

@media (max-width: 600px) {
    .flex-container {
    flex-direction: column;
    }
}
@media screen and (max-width:600px) {
    .column {
        width: 100%;
    }
}

@media only screen and (max-width:600px) {
    #contact-details {
        display:none;
    }
    #social-media {
        display:none;
    }
    .reservations .company-name {
        display: none;
    }
    
    .reservations .picture {
        display: none;
    }
}



